/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    display: block;
}

/* Stile blocchi */
.container1, .container2, .container3 {
    position: relative;
    width: 100%;
    height: 100vh;   
}

.container1 {
    background-color: red;
}

.container2 {
    background-color: green;
}

.container3 {
    background-color: yellow;
}

h1 {
    color: yellow;
}

#terzoh1 {
    color: green;
}

.blocco1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%);
}

.blocco1 img {
    width: 80%;
    height: 80%;
}

/* Pulsanti */
.button {
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(-40%, -60%);
}